[project]
name = "audio-stream-server"
version = "0.1.0"
description = "Stream MP3 from Youtube videos over HTTP"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi",
    "uvicorn",
    "pydantic",
]
